# == Windows ==
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# == Mac ==
.DS_Store

# == Composer ==
/composer.phar
/composer.lock
/vendor/

# == phpDocumentor ==
/docs/

# == PHPUnit ==
/.phpunit.result.cache

# == Slothsoft ==
/.farah-*
*.local
