<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: w3c
Vendor: slothsoft
Farah ID: farah://slothsoft@w3c
Composer ID: slothsoft/w3c

Homepage: http://farah.slothsoft.net/modules/w3c
Packagist: https://packagist.org/packages/slothsoft/w3c
GitHub: https://github.com/Faulo/slothsoft-w3c

Llo
-->
  <default-configuration/>
  <assets>
    <resource-directory name="data" path="data" type="application/x-php"/>
    <resource-directory name="css" path="stylesheet" type="text/css"/>
    <resource-directory name="js" path="script" type="application/javascript"/>
    <resource-directory name="xsl" path="template" type="application/xslt+xml"/>
    <resource-directory name="dictionary" path="dictionary" type="application/xml"/>
    <resource-directory name="pages" path="pages" type="application/xml"/>
    <directory name="static"/>
  </assets>
</module>
